/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-family:'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
/*.page {
  margin:20em;
} */
/*
 .boxone {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 26px 25px; 
    grid-template-areas: 
      "three two one"
      "four five six"
      ". . ."; 
 }

 .boxtwo {
    display: grid; 
    grid-template-columns: 2fr 2fr; 
    gap: 26px 25px; 
    grid-template-areas: 
      "three two"
      ". ."
      ". ."; 
 }

 .cont7 {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    gap: 20px 12px; 
    grid-template-areas: 
      "three two one four five"
      ". . . . ."
      ". . . . ."; 
  }

.author {
  display: flex;
  align-items: row;
}

.description, .profilepic {
  padding:1em;
}

.profilepic img {
  border-radius: 50%;
}

  

 .boxtext {
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 */


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

img {
  width:100%;
}

h1 {
  color: #000;
}

/* ==========================================================================
LAYOUT
   ========================================================================== */
  div,
  section,
  footer,
  header {
    border: 1px solid #ccc;
  }

  .column {
    background-color: rgb(243, 222, 194);
    margin: 1rem;
  }
  
   .heading {
    text-align: center;
  }
  
  
  /* Small only */
  
  @media screen and (max-width: 39.9375em) {}
  
  
  /* Medium and up */
  
  @media screen and (min-width: 40em) {
    .row {
      display: grid;
      width:85vw;
      max-width: 78rem;
      margin: 0 auto;
    }

    .m-col-2 {
      grid-template-columns: 1fr 1fr;
    }
    .m-col-3 {
      grid-template-columns: repeat(3, 1fr);
    }
    .m-col-4 {
      grid-template-columns: repeat(4, 1fr);
    }
    .m-col-5 {
      grid-template-columns: repeat(5, 1fr);
    }
    .span-full {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  
  
  /* Medium only */
  
  @media screen and (min-width: 40em) and 
  (max-width: 63.9375em) {
  }
  
  
  /* Large and up */
  
@media screen and (min-width: 64em) {
  .l-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .l-col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .l-col-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .l-col-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .l-col-6 {
    grid-template-columns: repeat(6, 1fr);
  }


}


/* Large only */

@media screen and (min-width: 64em) and 
(max-width: 74.9375em) {}




   /* ==========================================================================
MODULES
   ========================================================================== */




   /* ==========================================================================
THEME
   ========================================================================== */
   .header {
    display: grid;
    grid-template-columns: 3fr repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .header-name{
      padding-top: 4em;
      font-size: 20px;
      font-weight: bolder;
    }

    .cont2 {
      padding-top: 4em;
      display: grid;
      grid-template-columns: repeat(2, 1fr) 3fr repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }
        
        .left { grid-area: 1 / 2 / 2 / 3; }
        .slider-img { grid-area: 1 / 3 / 2 / 4; }
        .right { grid-area: 1 / 4 / 2 / 5; }
    
    .hcont3{
      text-align: center;
      font-weight: bold;
      padding-top: 4em;
    }

    .cont3 {
      padding-top: 6em;
      display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .div1cont3 { grid-area: 1 / 2 / 2 / 3; }
    .div2cont3 { grid-area: 1 / 3 / 2 / 4; }
    .div3cont3 { grid-area: 1 / 4 / 2 / 5; }
    .div4cont3 { grid-area: 1 / 5 / 2 / 6; }
   





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
   LAYOUT
   ========================================================================== */

   * {
    box-sizing: border-box;
}

div,
section,
main,
nav {
    outline: 1px solid #ccc;
}

.page {
    /* padding: 0 2rem; */
}

.grid-container {
    display: grid;
    margin: 0 auto;
    max-width: 85rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    row-gap: 1rem;
}

.padding-1 {
    padding: 1rem;
}

.padding-2 {
    padding: 2rem;
}

.padding-3 {
    padding: 3rem;
}


/* breakpoints */

.s-2-col {
    grid-template-columns: 1fr 1fr;
}

.s-3-col {
    grid-template-columns: repeat(3, 1fr);
}

.s-span-2 {
    grid-column-end: span 2;
}

.menu-item {
    padding: 1rem;
}


/* Small only */

@media screen and (max-width: 39.9375em) {
    .s-hidden {
        display: none !important;
    }
}


/* Medium and up */

@media screen and (min-width: 40em) {
    /* main menu */
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: left;
    }
    .m-2-col {
        grid-template-columns: 1fr 1fr;
    }
    .m-3-col {
        grid-template-columns: repeat(3, 1fr);
    }
    .m-4-col {
        grid-template-columns: repeat(4, 1fr);
    }
    .m-5-col {
        grid-template-columns: repeat(5, 1fr);
    }
    .m-6-col {
        grid-template-columns: repeat(6, 1fr);
    }
    .m-span-2 {
        grid-column-end: span 2;
    }
    .m-span-3 {
        grid-column-end: span 3;
    }
    .m-span-4 {
        grid-column-end: span 4;
    }
    .m-span-5 {
        grid-column-end: span 5;
    }
    .m-span-6 {
        grid-column-end: span 6;
    }
}


/* Medium only */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .m-hidden {
        display: none !important;
    }
}


/* Large and up */

@media screen and (min-width: 64em) {
    .l-2-col {
        grid-template-columns: 1fr 1fr;
    }
    .l-3-col {
        grid-template-columns: repeat(3, 1fr);
    }
    .l-4-col {
        grid-template-columns: repeat(4, 1fr);
    }
    .l-5-col {
        grid-template-columns: repeat(5, 1fr);
    }
    .l-6-col {
        grid-template-columns: repeat(6, 1fr);
    }
    .l-8-col {
        grid-template-columns: repeat(8, 1fr);
    }
    .l-span-2 {
        grid-column-end: span 2;
    }
    .l-span-3 {
        grid-column-end: span 3;
    }
    .l-span-4 {
        grid-column-end: span 4;
    }
    .l-span-5 {
        grid-column-end: span 5;
    }
    .l-span-6 {
        grid-column-end: span 6;
    }
    .l-span-7 {
        grid-column-end: span 7;
    }
    .l-span-8 {
        grid-column-end: span 8;
        gr
    }
    .l-start-2 {
        grid-column-start: 2;
    }
}


/* Large only */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {
    .l-hidden {
        display: none !important;
    }
}


/* ==========================================================================
   THEME
   ========================================================================== */

.page__header {
    background-color: #ccc;
}
